//Masthead
.masthead {
	display: block;
	background: darken($white, 5%);
	padding: $mast-padding;
	margin: $mast-margin;
	border-radius: $mast-BR;
	h1 {
		margin-bottom: $mast-h1Margin;
		font-size: $mast-headerSize;
		color: $mast-h1Color;
		font-weight: 300;
	}
	p.text-large {
		font-size: $mast-pSize;
		color: $mast-pColor;
		line-height: normal;
	}
}
.masthead.inverse {
	background: $lightBlack;
	h1 {
		color: $mastinv-h1Color;
	}
	p.text-large {
		color: $mastinv-h1Color;
	}
}
// Card blocks
.card {
	// Not recommended, would use Grid instead of this.
	display: inline-block;
	background: darken($white, 5%);
	margin: 15px 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid darken($white, 10%);
	h3 {
		font-size: 2.5em;
	}
	h4 {
		font-size: 1.5em;
		font-weight: 400;
	}
	.border {
		margin-bottom: 10px;
		border-bottom: 1px solid darken($white, 10%);
	}
	.text {
		line-height: 1.2em;
		margin-bottom: 10px;
	}
	.links {
		font-size: 1.07em;
		a+a {
			margin-left: 10px;
		}
	}
}
.card+.card {
	margin-left: 0;
}
// Card Grid
.card-grid {
	display: grid;
	// Allows the columns to repeat automatically and fit themselves into the free space. A min-max is set so that it doesn't look too small or get too cramped.
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	.card {
		// The same as the masthead
		background: darken($white, 5%);
		margin: 15px 10px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid darken($white, 10%);
		h3 {
			font-size: 2.5em;
		}
		h4 {
			font-size: 1.5em;
			font-weight: 400;
		}
		.border {
			margin-bottom: 10px;
			border-bottom: 1px solid darken($white, 10%);
		}
		.text {
			line-height: 1.2em;
			margin-bottom: 10px;
		}
		.links {
			font-size: 1.07em;
			a+a {
				margin-left: 10px;
			}
		}
		// TODO: Add button styling
	}
}
// Article blocks
article {
	font-family: Georgia, "Cambria", serif;
	line-height: 2em;
	font-weight: 400;
	font-size: 18px;
	h1 {
		font-weight: 400;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}
// Used with the background image plugin
.coverPage {
	height: $mast-fillSize;
	margin: 0;
	display: flex;
	align-items: center;
	border-radius: 0;
}
// Used to make a masthead fill the screen
.fillPage {
	height: $mast-fillSize;
	margin: 0;
	// Set as flex so that everything is vertical aligned to the center. Must use the content class for this to work.
	display: flex;
	border-radius: 0;
	align-items: center;
	.content {
		width: 100%;
	}
}
// 404
.error-404 {
	display: block;
	padding: 50px 60px;
	h1 {
		font-size: 45px;
		font-weight: 400;
	}
	p {
		font-size: 30px;
	}
}
// Footer
.footer {
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	margin: 10px 0;
	display: block;
	padding: 20px;
}
.footer.dark {
	background: $lightBlack;
	border-top: solid 1px #777;
	border-bottom: solid 1px #777;
	color: #fff;
	margin: 10px 0 0 0;
}
.footer.dark a {
	color: #5fabd8;
}
.footer.stickyFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

// Wells
.well {
	background: darken($white, 5%);
	padding: 10px;
	width: 96%;
	display: block;
	border: 1px solid darken($white, 20%);
}
.well-middle {
	border-left: none;
	border-right: none;
}

// Notices
.notice {
	display: block;
	padding: 10px;
	.header {
		display: block;
		font-weight: 400;
		font-size: 1.7em;
		border-bottom: solid darken(#e7e6e6, 20%) 1px;
		padding-bottom: 3px;
	}
	p {
		margin-top: 5px;
		font-size: 1.25em;
	}
}
.notice-primary {
	background: $primary-blue;
	color: lighten(#333, 70%);
	border-left: solid darken($primary-blue, 10%) 5px;
}
.notice-green {
	background: $primary-green;
	color: #fff;
	border-left: solid darken($primary-green, 10%) 5px;
	.header {
		border-bottom-color: #fff;
	}
}
.notice-red {
	color: #fff;
	background: $primary-red;
	border-left: solid darken($primary-red, 10%) 5px;
	.header {
		border-bottom-color: #fff;
	}
}
.notice-lightBlue {
	background: $primary-lightblue;
	color: #fff;
	border-left: solid darken($primary-lightblue, 20%) 5px;
	.header {
		border-bottom-color: #fff;
	}
}
.notice-orange {
	background: $primary-orange;
	color: #fff;
	border-left: solid darken($primary-orange, 10%) 5px;
	.header {
		border-bottom-color: #fff;
	}
}

// Blockquotes
blockquote {
	border-left: solid rgb(181, 181, 181) 3px;
}
