// Buttons
.button-group {
	display: block;
	padding: 5px 0;
}
.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
}
.button-primary {
    background: $primary-blue;
    color: #fff;
    border: 1px solid $primary-blue;
}
.button-primary:hover {
	text-decoration: none;
	color: #fff;
}
.button-green {
	background: $primary-green;
	color: #fff;
	border: 1px solid $primary-green;
}
.button-green:hover {
	text-decoration: none;
	color: #fff;
}
.button-ghost-primary {
    background: transparent;
    color: $primary-blue;
    border: 1px solid $primary-blue;
}
.button-ghost-primary:hover {
	color: $primary-blue;
	text-decoration: none;
}
.button-ghost-green {
	background: transparent;
	color: $primary-green;
	border: 1px solid $primary-green;
}
.button-ghost-green:hover {
	color: $primary-green;
	text-decoration: none;
}