// Buttons

// Button Group
.button-group {
	display: block;
	padding: 5px 0;
}

// Vertical Method
.button-group.vertical {
	.button {
		display: block;
		max-width: 200px;
		margin: 0 auto;
	}
	.button+.button {
		margin-top: 5px;
	}
}

// Main buttom wrapper class
.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
}

// Large buttom
.button-large {
	padding: 12px 24px;
	font-size: 1.45em;
}

// Primary background & border
.button-primary {
    background: $primary-blue;
    color: #fff;
    border: 1px solid $primary-blue;
}
.button-primary:hover {
	text-decoration: none;
	color: #fff;
}

// Green background & border
.button-green {
	background: $primary-green;
	color: #fff;
	border: 1px solid $primary-green;
}
.button-green:hover {
	text-decoration: none;
	color: #fff;
}

// Red background & border
.button-red {
	background: $primary-red;
	color: #fff;
	border: 1px solid $primary-red;
}
.button-red:hover {
	text-decoration: none;
	color: #fff;
}

// Light blue background & border
.button-lightBlue {
	background: $primary-lightblue;
	color: #fff;
	border: 1px solid $primary-lightblue;
}
.button-lightBlue:hover {
	text-decoration: none;
	color: #fff;
}

// Orange background & border
.button-orange {
	background: $primary-orange;
	color: #fff;
	border: 1px solid $primary-orange;
}
.button-orange:hover {
	text-decoration: none;
	color: #fff;
}

// Ghost primary version (just outline)
.button-ghost-primary {
    background: transparent;
    color: $primary-blue;
    border: 1px solid $primary-blue;
}
.button-ghost-primary:hover {
	color: $primary-blue;
	text-decoration: none;
}

// Ghost green version (just outline)
.button-ghost-green {
	background: transparent;
	color: $primary-green;
	border: 1px solid $primary-green;
}
.button-ghost-green:hover {
	color: $primary-green;
	text-decoration: none;
}

// Ghost red version (just outline)
.button-ghost-red {
	background: transparent;
	transition: color ease .25s, border-color ease .25s;
	color: $primary-red;
	border: 1px solid $primary-red;
	font-weight: 600;
}
.button-ghost-red:hover {
	text-decoration: none;
	transition: color ease .25s, border-color ease .25s;
	color: lighten($primary-red, 15%);
	border-color: lighten($primary-red, 15%);
}

// Ghost light blue version (just outline)
.button-ghost-lightBlue {
	background: transparent;
	transition: color ease .25s, border-color ease .25s;
	color: $primary-lightblue;
	border: 1px solid $primary-lightblue;
}
.button-ghost-lightBlue:hover {
	text-decoration: none;
	transition: color ease .25s, border-color ease .25s;
	color: darken($primary-lightblue, 20%);
	border-color: darken($primary-lightblue, 20%);
}

// Ghost orange version (just outline)
.button-ghost-orange {
	background: transparent;
	transition: color ease .25s, border-color ease .25s;
	color: lighten($primary-orange, 7%);
	border: 1px solid lighten($primary-orange, 7%);
}
.button-ghost-orange:hover {
	text-decoration: none;
	transition: color ease .25s, border-color ease .25s;
	color: $primary-orange;
	border-color: $primary-orange;
}
