// Overall form
form {
	margin: 0;
	padding: 0;
	display: block;
}
.form {
	display: block;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.42857143;
	background: #fff;
	margin: 10px 0;
}
.formOutline {
	border: solid rgba(175, 175, 175, 0.76) 1px;
	border-radius: 5px;
	padding: 15px;
}
// Labels
.form label {
	display: block;
	max-width: 100%;
	margin-bottom: 2px;
	margin-top: 5px;
	font-weight: 400;
	font-size: 16px;
}
// Inputs
.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	background: #fff;
	border: 1px solid lighten($black, 60%);
	border-radius: 4px;
	transition: border-color ease-in-out .15s;
	outline: 0;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus {
	border: 1px solid #3786E1;
}
.form input.success {
	border: 1px solid $primary-green;
}
.form input.error {
	border: 1px solid $primary-red;
}
.form input.warning {
	border: 1px solid $primary-orange;
}
.form input::placeholder {
	color: lighten(#333, 20%);
}
// Submission
.form button[type="submit"] {
	margin-top: 10px;
}
// Checkboxes
.checkbox {
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	label {
		font-size: 1em;
		cursor: pointer;
	}
	input[type=checkbox] {
		margin-left: -20px;
		position: absolute;
	}
}
