// The window
.modal-window {
    position: fixed;
    left: 50%;
    top: calc(50vh - 10%);
    width: $modal-width;
    background: $modal-bg;
    padding: $modal-padding;
    border-radius: $modal-radius;
    border: $modal-border;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    box-shadow: $modal-shadow;
    z-index: 2;
    section.header {
        font-size: $modal-headerh1size;
        border-bottom: $modal-headerh1border;
    }
    section.content {
        font-size: $modal-contentsize;
    }
}
// For markup modal
.modal {
	display: none;
}

// The class added to darken the page
.modal-shade {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
}

// The close button
.modal-close {
    font-size: $modal-closesize;
    font-weight: $modal-closeweight;
    line-height: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity-20);
    opacity: .2;
}
