// The window
.modal-window {
    position: absolute;
    left: 50%;
    top: 80px;
    width: 60%;
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    border: #777 solid 1px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    z-index: 2;
    section.header {
        font-size: 1.6em;
        border-bottom: #d3d3d3 solid 1px;
    }
    section.content {
        font-size: 1em;
    }
}
// For markup modal
.modal {
	display: none;
}

// The class added to darken the page
.modal-shade {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
}

// The close button
.modal-close {
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity-20);
    opacity: .2;
}
