// Reset (c) Zack Ruybal
// This is my version, not anyone else's
* {
	box-sizing: border-box;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	padding: 0;
	margin: 0;
	small {
		color: darken($white, 60%);
	}
}
h1.text-large {
	font-size: 40px;
}
h2.text-large {
	font-size: 36px;
}
a {
	color: #246a93;
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 2em;
}
canvas, img {
    border: 0;
	vertical-align: middle;
	max-width: 100%;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #ca3230;
	background: #bdc3c7;
	border-radius: 4px;
}
pre {
	display: block;
	padding: 10px;
	margin: 6px 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	overflow: auto;
	-moz-tab-size: 4;
		 tab-size: 4;
	white-space: pre-wrap;
}
pre > code {
	padding: 0 !important;
	color: #333;
	background: transparent !important;
	border-radius: 0;
}
kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: #fff;
	background: #333;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
var {
	font-style: italic;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
section:-webkit-any(article,aside,nav,section) h1 {
	font-size: 2em;
}
