// Images
.image-rounded {
	border-radius: 6px;
}
.image-circle {
	border-radius: 50%;
}
// Box Appearences
.clearfix {
	clear: both;
}
.show {
	display: block !important;
}
.hidden {
	display: none !important;
}
// Different from hidden
.invisible {
	visibility: hidden;
}
.center-block {
	display: block;
	margin: 0 auto;
}
.box-margin {
	margin: 20px 15px !important;
}
.margin-topOnly {
	margin: 20px 0 !important;
}
// Small HR
.small-break {
	border-top: 1px solid #777;
	height: 1px;
	width: 150px;
	display: block;
	margin: 15px auto;
}
// Pulls
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
// Text Formatting
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-large { font-size: 16px; }
.bold { font-weight: 400; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }
.page-heading {
	border-bottom: 1px solid lighten(#666, 23%);
}
.section-heading {
	border-bottom: 1px solid lighten(#666, 23%);
	margin-bottom: 5px;
}
h1.text-large {
	font-size: 2.6em;
}
// Lists
ul.noindent {
	padding-left: 20px;
	margin: 0;
}
ol.noindent {
	padding-left: 20px;
	margin: 0;
}
// Nav util (this is temporary):
.topOffset {
	top: 50px;
}
.scrollTop {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 32px;
	width: 32px;
	background: rgb(42, 191, 129);
	color: #fff;
	content: "\f062";
	font-size: 14px;
	text-decoration: none;
	margin: 0 15px 15px 0;
	text-align: center;
	display: none;
	padding: 4px;
	border-radius: 3px;
}
.scrollTop.active {
	display: block;
}
