$primary-blue: #3786E1;
$primary-green: #70AA6D;
$primary-red: #AA3A32;
$primary-lightblue: #4BD7E4;
$primary-orange: #DB6127;

$dark-blue: #2c52a8;

$white: #fff;
$black: #000;
$lightBlack: #333;

//Main nav css
$nav-height: 52px;
$nav-lineHeight: 50px;
$nav-brandingWeight: 400;
$nav-brandingFontSize: 16px;
$nav-brandingHeight: 50px;
$nav-brandingLineHeight: 50px;
$nav-brandingPadding: 0 15px;
$nav-imgHeight: 32px;
$nav-imgWidth: 32px;
$nav-imgVAlign: middle;

// Nav variant customization
$dark-nav: #323232;

//Masthead Customize
$mastpadding: 50px 30px;
$mastmargin: 15px;
$mastBR: 5px;
$mastHeaderSize: 36px; // Changes the font-size for h1 tags inside of Masthead
$fillSize: calc(100vh - 52px); // Change the 52px if navbar height is custom
$h1-color: darken($white, 60%);
$p-color: darken($white, 60%);
