// Primary color pallete
$primary-blue: #3786E1;
$primary-green: #70AA6D;
$primary-red: #AA3A32;
$primary-lightblue: #4BD7E4;
$primary-orange: #DB6127;

// Normal colors
$dark-blue: #2c52a8;
$white: #fff;
$black: #000;
$lightBlack: #333; // AKA dark gray

//Main nav css
$nav-height: 52px;
$nav-lineHeight: 50px;
$nav-brandingWeight: 400;
$nav-brandingFontSize: 16px;
$nav-brandingHeight: 50px;
$nav-brandingLineHeight: 50px;
$nav-brandingPadding: 0 15px;
$nav-imgHeight: 32px;
$nav-imgWidth: 32px;
$nav-imgVAlign: middle;
$nav-dropdown-padding: 8px 0;
$nav-dropdown-margin: 2px 0 0;
$nav-dropdown-fontSize: 16px;
$nav-dropdown-borderRadius: 4px;
$nav-branding-padding-y: 0px;
$nav-branding-padding-x: 15px;
$nav-padding-x: 16px;
$nav-padding-y: 16px;
$nav-lineHeight: 1.5;
$nav-item-padding: 8px;
$nav-font-size: 16px;

// Nav variant customization
$dark-nav: #323232;

//Masthead customize
$mast-padding: 50px 30px;
$mast-margin: 15px;
$mast-BR: 5px;
$mast-headerSize: 36px; // Changes the font-size for h1 tags inside of Masthead
$mast-fillSize: calc(100vh - 52px); // Change the 52px if navbar height is custom
$mast-h1Color: darken($white, 60%);
$mast-h1Margin: .543em;
$mast-pColor: darken($white, 60%);
$mast-pSize: 24px;

//Masthaed inverse customize
$mastinv-h1Color: $white;
$mastinv-pColor: $white;

// Modal customize
$modal-bg: #fff;
$modal-width: 60%;
$modal-padding: 30px;
$modal-radius: 3px;
$modal-border: #777 solid 1px;
$modal-shadow: 3px 3px 5px rgba(0,0,0,.2);
$modal-headerh1size: 1.6em;
$modal-headerh1border: #d3d3d3 solid 1px;
$modal-contentsize: 1em;
$modal-closesize: 21px;
$modal-closeweight: 600;
