.nav {
  display: block;
  height: 52px;
  line-height: 50px;
  background: #3786E1;
  z-index: 1; }
  .nav .branding {
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    display: inline-block;
    height: 50px;
    line-height: 50px; }
    .nav .branding img {
      width: 32px;
      vertical-align: middle; }
  .nav .branding:hover {
    text-decoration: none;
    color: #fff;
    background: transparent; }

.nav.fixed-top {
  position: fixed !important;
  width: 100%;
  margin-top: 0;
  top: 0;
  z-index: 1080; }

.fixed-body {
  padding-top: 52px; }

.nav.nav-dark {
  background: #323232; }

.nav.nav-dark a:hover {
  color: #f2f2f2;
  text-decoration: none;
  background: #4d4d4d; }

.nav.nav-dark .branding:hover {
  text-decoration: none;
  color: #fff;
  background: transparent; }

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.nav li {
  display: inline; }

.nav .nav-item {
  display: inline-block; }

.nav li + li {
  margin-left: -5px; }

.nav a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  padding: 0 10px; }

.nav a:hover {
  color: #f2f2f2;
  text-decoration: none;
  background: #2e81e0; }

.nav .pull-right {
  float: right; }

.nav .pull-left {
  float: left; }

.nav.nav-static {
  top: 0;
  position: fixed;
  width: 100%; }

.nav-side {
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(100, 149, 237, 0.9);
  color: #fff;
  border-top: 1px solid #70AA6D;
  z-index: 1080; }

.nav-side ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.nav-side ul li {
  background: #777;
  display: block;
  text-align: center;
  height: 50px;
  line-height: 40px;
  margin-bottom: -1px; }

.nav-side ul li + li {
  margin-left: 0px; }

.nav-side ul li:hover {
  background: #333; }

.nav-side li a {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff; }

.res-only {
  display: none !important;
  float: right;
  margin-top: 1px;
  height: 50px;
  color: #fff; }
  .res-only span.ham {
    cursor: pointer;
    display: block; }

.hamburger {
  display: inline-block;
  height: 50px;
  padding-top: 12px;
  margin: 0 5px; }
  .hamburger > div {
    margin-top: 4px;
    background: #fff;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    position: relative; }
  .hamburger:hover, .hamburger:active, .hamburger.expanded {
    cursor: pointer; }
    .hamburger:hover div:nth-child(2)::after, .hamburger:active div:nth-child(2)::after, .hamburger.expanded div:nth-child(2)::after {
      bottom: -4.5vh; }

/*.nav-side.navIsVisible {
	margin-left: 0;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
	display: block;
}*/
.nav-side .hidden {
  display: none; }

@media (max-width: 796px) {
  .nav-side.nav-open {
    display: none; }
  .nav-item > ul > li {
    display: none; }
  .res-only {
    display: block !important; }
  .nav {
    margin-bottom: -1px; } }
