// Variables
// Primary color pallete
$primary-blue: #3786E1;
$primary-green: #70AA6D;
$primary-red: #AA3A32;
$primary-lightblue: #4BD7E4;
$primary-orange: #DB6127;

// Normal colors
$dark-blue: #2c52a8;
$white: #fff;
$black: #000;
$lightBlack: #333; // AKA dark gray

//Nav
$nav-height: 52px;
$nav-lineHeight: 50px;
$nav-brandingWeight: 400;
$nav-brandingFontSize: 16px;
$nav-brandingHeight: 50px;
$nav-brandingLineHeight: 50px;
$nav-brandingPadding: 0 15px;
$nav-imgHeight: 32px;
$nav-imgWidth: 32px;
$nav-imgVAlign: middle;
$dark-nav: #323232;

// "Normal" nav
.nav {
	display: block;
	height: $nav-height;
	line-height: $nav-lineHeight;
    background: $primary-blue;
	z-index: 1;
	.branding {
		font-weight: $nav-brandingWeight;
		color: $white;
		font-size: $nav-brandingFontSize;
		padding: $nav-brandingPadding;
		display: inline-block;
		height: $nav-brandingHeight;
		line-height: $nav-brandingLineHeight;
		img {
			width: $nav-imgWidth;
			vertical-align: $nav-imgVAlign;
		}
	}
	.branding:hover {
		text-decoration: none;
		color: #fff;
		background: transparent;
	}
}
.nav.fixed-top {
	position: fixed !important;
	width: 100%;
	margin-top: 0;
	top: 0;
	z-index: 1080;
}
.fixed-body {
	padding-top: 52px;
}
// Dark nav classes
.nav.nav-dark {
    background: $dark-nav;
}
.nav.nav-dark  a:hover {
	color: darken($white, 5%);
	text-decoration: none;
	background: darken($white, 70%);
}
.nav.nav-dark .branding:hover {
    text-decoration: none;
    color: #fff;
    background: transparent;
}
.nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav li {
	display: inline;
}
.nav .nav-item {
	display: inline-block;
}
.nav li+li {
	margin-left: -5px;
}
.nav a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #fff;
	padding: 0 10px;
}
.nav  a:hover {
	color: darken($white, 5%);
	text-decoration: none;
	background: darken($primary-blue, 2%);
}
// Pull link groups left and right
.nav .pull-right {
	float: right;
}
.nav .pull-left {
	float: left;
}
// Static nav
.nav.nav-static {
	top: 0;
	position: fixed;
	width: 100%;
}
// Responsive Bits
.nav-side {
	position: absolute;
	left: 0;
	width: 100%;
	background: rgba(100,149,237,0.9);
	color: #fff;
	border-top: 1px solid #70AA6D;
	z-index: 1080;
}
.nav-side ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav-side ul li {
	background: #777;
	display: block;
	text-align: center;
	height: 50px;
	line-height: 40px;
	margin-bottom: -1px;
}
.nav-side ul li+li {
	margin-left: 0px;
}
.nav-side ul li:hover {
	background: #333;
}
.nav-side li a {
	width: 100%;
	display: block;
	text-align: center;
	color: #fff;
}
.res-only {
	display: none !important;
	float: right;
	margin-top: 1px;
	height: 50px;
	color: #fff;
	//line-height: 50px;
	span.ham {
		cursor: pointer;
		display: block;
	}
}
.hamburger {
	display:inline-block;
	height: 50px;
	padding-top: 12px;
	margin: 0 5px;
		>div {
			margin-top: 4px;
			background:#fff;
			height: 3px;
			width: 25px;
			border-radius: 3px;
			position:relative;

		}

		&:hover, &:active, &.expanded {
			cursor:pointer;
		div {
			&:nth-child(2)::after {
			  bottom:-4.5vh;
			}

		}
	}
}
/*.nav-side.navIsVisible {
	margin-left: 0;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
	display: block;
}*/
.nav-side .hidden {
	display: none;
}

@media (max-width: 796px) {
	.nav-side.nav-open {
		display: none;
	}
	.nav-item > ul > li {
		display: none;
	}
	.res-only {
		display: block !important;
	}
	.nav {
		margin-bottom: -1px;
	}
}
