/*
* (c) 2017 Zack Ruybal. All rights reserved
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  padding: 0;
  margin: 0; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #666666; }

h1.text-large {
  font-size: 40px; }

h2.text-large {
  font-size: 36px; }

a {
  color: #246a93;
  text-decoration: none; }

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 2em; }

canvas, img {
  border: 0;
  vertical-align: middle;
  max-width: 100%; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #ca3230;
  background: #bdc3c7;
  border-radius: 4px; }

pre {
  display: block;
  padding: 10px;
  margin: 6px 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap; }

pre > code {
  padding: 0 !important;
  color: #333;
  background: transparent !important;
  border-radius: 0; }

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background: #333;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }

var {
  font-style: italic; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

section:-webkit-any(article, aside, nav, section) h1 {
  font-size: 2em; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd; }

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0; }

.table > tbody + tbody {
  border-top: 2px solid #ddd; }

.table .table {
  background-color: #fff; }

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px; }

.table-bordered {
  border: 1px solid #ddd; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd; }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5; }

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none; }

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none; }

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5; }

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8; }

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8; }

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6; }

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7; }

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3; }

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3; }

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc; }

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede; }

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc; }

.table-responsive {
  min-height: .01%;
  overflow-x: auto; }

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd; }
  .table-responsive > .table {
    margin-bottom: 0; }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0; } }

.image-rounded {
  border-radius: 6px; }

.image-circle {
  border-radius: 50%; }

.clearfix {
  clear: both; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.center-block {
  display: block;
  margin: 0 auto; }

.box-margin {
  margin: 20px 15px !important; }

.margin-topOnly {
  margin: 20px 0 !important; }

.small-break {
  border-top: 1px solid #777;
  height: 1px;
  width: 150px;
  display: block;
  margin: 15px auto; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-large {
  font-size: 16px; }

.bold {
  font-weight: 400; }

.underline {
  text-decoration: underline; }

.italic {
  font-style: italic; }

.page-heading {
  border-bottom: 1px solid #a1a1a1; }

.section-heading {
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 5px; }

h1.text-large {
  font-size: 2.6em; }

ul.noindent {
  padding-left: 20px;
  margin: 0; }

ol.noindent {
  padding-left: 20px;
  margin: 0; }

.topOffset {
  top: 50px; }

.scrollTop {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 32px;
  background: #2abf81;
  color: #fff;
  content: "\f062";
  font-size: 14px;
  text-decoration: none;
  margin: 0 15px 15px 0;
  text-align: center;
  display: none;
  padding: 4px;
  border-radius: 3px; }

.scrollTop.active {
  display: block; }

.button-group {
  display: block;
  padding: 5px 0; }

.button-group.vertical .button {
  display: block;
  max-width: 200px;
  margin: 0 auto; }

.button-group.vertical .button + .button {
  margin-top: 5px; }

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px; }

.button-large {
  padding: 12px 24px;
  font-size: 1.45em; }

.button-primary {
  background: #3786E1;
  color: #fff;
  border: 1px solid #3786E1; }

.button-primary:hover {
  text-decoration: none;
  color: #fff; }

.button-green {
  background: #70AA6D;
  color: #fff;
  border: 1px solid #70AA6D; }

.button-green:hover {
  text-decoration: none;
  color: #fff; }

.button-red {
  background: #AA3A32;
  color: #fff;
  border: 1px solid #AA3A32; }

.button-red:hover {
  text-decoration: none;
  color: #fff; }

.button-lightBlue {
  background: #4BD7E4;
  color: #fff;
  border: 1px solid #4BD7E4; }

.button-lightBlue:hover {
  text-decoration: none;
  color: #fff; }

.button-orange {
  background: #DB6127;
  color: #fff;
  border: 1px solid #DB6127; }

.button-orange:hover {
  text-decoration: none;
  color: #fff; }

.button-ghost-primary {
  background: transparent;
  color: #3786E1;
  border: 1px solid #3786E1; }

.button-ghost-primary:hover {
  color: #3786E1;
  text-decoration: none; }

.button-ghost-green {
  background: transparent;
  color: #70AA6D;
  border: 1px solid #70AA6D; }

.button-ghost-green:hover {
  color: #70AA6D;
  text-decoration: none; }

.button-ghost-red {
  background: transparent;
  -webkit-transition: color ease .25s, border-color ease .25s;
  -o-transition: color ease .25s, border-color ease .25s;
  transition: color ease .25s, border-color ease .25s;
  color: #AA3A32;
  border: 1px solid #AA3A32;
  font-weight: 600; }

.button-ghost-red:hover {
  text-decoration: none;
  -webkit-transition: color ease .25s, border-color ease .25s;
  -o-transition: color ease .25s, border-color ease .25s;
  transition: color ease .25s, border-color ease .25s;
  color: #ce625a;
  border-color: #ce625a; }

.button-ghost-lightBlue {
  background: transparent;
  -webkit-transition: color ease .25s, border-color ease .25s;
  -o-transition: color ease .25s, border-color ease .25s;
  transition: color ease .25s, border-color ease .25s;
  color: #4BD7E4;
  border: 1px solid #4BD7E4; }

.button-ghost-lightBlue:hover {
  text-decoration: none;
  -webkit-transition: color ease .25s, border-color ease .25s;
  -o-transition: color ease .25s, border-color ease .25s;
  transition: color ease .25s, border-color ease .25s;
  color: #1aa2af;
  border-color: #1aa2af; }

.button-ghost-orange {
  background: transparent;
  -webkit-transition: color ease .25s, border-color ease .25s;
  -o-transition: color ease .25s, border-color ease .25s;
  transition: color ease .25s, border-color ease .25s;
  color: #e07746;
  border: 1px solid #e07746; }

.button-ghost-orange:hover {
  text-decoration: none;
  -webkit-transition: color ease .25s, border-color ease .25s;
  -o-transition: color ease .25s, border-color ease .25s;
  transition: color ease .25s, border-color ease .25s;
  color: #DB6127;
  border-color: #DB6127; }

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 16px;
  line-height: 1.5;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #3786E1; }
  .nav .branding {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 15px;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap; }
    .nav .branding > a {
      color: #fff;
      padding: 8px; }
  .nav .right {
    margin-left: auto; }
    .nav .right .dropdown {
      right: 0; }
  .nav .nav-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none; }
    .nav .nav-group ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 0;
      list-style: none; }
    .nav .nav-group li {
      padding-right: 0;
      padding-left: 0;
      list-style-position: outside; }
      .nav .nav-group li a {
        padding: 8px;
        font-size: 16px;
        color: #fff; }
  .nav .button {
    display: inline; }
  .nav .dropdown {
    display: none;
    top: 100%;
    z-index: 2000;
    min-width: 10rem;
    padding: 8px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    float: none; }
    .nav .dropdown.visible {
      position: absolute;
      display: block !important; }
    .nav .dropdown.hidden {
      position: absolute;
      display: none !important; }
    .nav .dropdown .item {
      display: block;
      width: 100%;
      padding: .25rem 1.5rem;
      clear: both;
      text-align: inherit;
      white-space: nowrap; }
      .nav .dropdown .item > a {
        color: #000; }
  .nav.fixed-top {
    position: fixed;
    width: 100%;
    margin-top: 0;
    top: 0;
    z-index: 1080; }

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  color: rgba(0, 0, 0, 0.5);
  margin-left: .255em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.9); }

.nav.nav-dark {
  background: #323232; }
  .nav.nav-dark a:hover {
    color: #f2f2f2;
    text-decoration: none; }
  .nav.nav-dark .branding:hover {
    color: #fff;
    background: transparent; }
  .nav.nav-dark .dropdown {
    color: #fff;
    background-color: #323232; }
    .nav.nav-dark .dropdown.visible {
      position: absolute;
      display: block !important; }
    .nav.nav-dark .dropdown.hidden {
      position: absolute;
      display: none !important; }
    .nav.nav-dark .dropdown .item {
      display: block;
      width: 100%;
      padding: .25rem 1.5rem;
      clear: both;
      text-align: inherit;
      white-space: nowrap; }
      .nav.nav-dark .dropdown .item > a {
        color: #fff; }
      .nav.nav-dark .dropdown .item > a:hover {
        border-bottom: none; }

.nav-dark .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  color: #fff;
  margin-left: .255em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.9); }

.fixed-body {
  padding-top: 52px; }

.nav-side {
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(100, 149, 237, 0.9);
  color: #fff;
  border-top: 1px solid #70AA6D;
  z-index: 1080; }

.nav-side ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.nav-side ul li {
  background: #777;
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-bottom: -1px; }

.nav-side ul li + li {
  margin-left: 0px; }

.nav-side ul li:hover {
  background: #333; }

.nav-side li a {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  height: 100%; }

.res-only {
  display: none !important;
  float: right;
  margin-left: auto;
  margin-top: 1px;
  color: #fff; }
  .res-only span.ham {
    cursor: pointer;
    display: block; }

.res-only:hover {
  border-bottom: none !important; }

.hamburger {
  display: inline-block;
  margin: 0 5px; }
  .hamburger > div {
    margin-top: 4px;
    background: #fff;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    position: relative; }
  .hamburger:hover, .hamburger:active, .hamburger.expanded {
    cursor: pointer; }
    .hamburger:hover div:nth-child(2)::after, .hamburger:active div:nth-child(2)::after, .hamburger.expanded div:nth-child(2)::after {
      bottom: -4.5vh; }

.nav-side .hidden {
  display: none !important; }

@media (max-width: 796px) {
  .nav-side.nav-open {
    display: none; }
  .nav .nav-group {
    display: none !important; }
  .res-only {
    display: block !important; }
  .nav {
    margin-bottom: -1px; } }

.modal-window {
  position: fixed;
  left: 50%;
  top: calc(50vh - 10%);
  width: 60%;
  background: #fff;
  padding: 30px;
  border-radius: 3px;
  border: #777 solid 1px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 2; }
  .modal-window section.header {
    font-size: 1.6em;
    border-bottom: #d3d3d3 solid 1px; }
  .modal-window section.content {
    font-size: 1em; }

.modal {
  display: none; }

.modal-shade {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; }

.modal-close {
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity-20);
  opacity: .2; }

.masthead {
  display: block;
  background: #f2f2f2;
  padding: 50px 30px;
  margin: 15px;
  border-radius: 5px; }
  .masthead h1 {
    margin-bottom: 0.543em;
    font-size: 36px;
    color: #666666;
    font-weight: 300; }
  .masthead p.text-large {
    font-size: 24px;
    color: #666666;
    line-height: normal; }

.masthead.inverse {
  background: #333; }
  .masthead.inverse h1 {
    color: #fff; }
  .masthead.inverse p.text-large {
    color: #fff; }

.card {
  display: inline-block;
  background: #f2f2f2;
  margin: 15px 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6; }
  .card h3 {
    font-size: 2.5em; }
  .card h4 {
    font-size: 1.5em;
    font-weight: 400; }
  .card .border {
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6; }
  .card .text {
    line-height: 1.2em;
    margin-bottom: 10px; }
  .card .links {
    font-size: 1.07em; }
    .card .links a + a {
      margin-left: 10px; }

.card + .card {
  margin-left: 0; }

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr)); }
  .card-grid .card {
    background: #f2f2f2;
    margin: 15px 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e6e6e6; }
    .card-grid .card h3 {
      font-size: 2.5em; }
    .card-grid .card h4 {
      font-size: 1.5em;
      font-weight: 400; }
    .card-grid .card .border {
      margin-bottom: 10px;
      border-bottom: 1px solid #e6e6e6; }
    .card-grid .card .text {
      line-height: 1.2em;
      margin-bottom: 10px; }
    .card-grid .card .links {
      font-size: 1.07em; }
      .card-grid .card .links a + a {
        margin-left: 10px; }

article {
  font-family: Georgia, "Cambria", serif;
  line-height: 2em;
  font-weight: 400;
  font-size: 18px; }
  article h1 {
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.coverPage {
  height: calc(100vh - 52px);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0; }

.fillPage {
  height: calc(100vh - 52px);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .fillPage .content {
    width: 100%; }

.error-404 {
  display: block;
  padding: 50px 60px; }
  .error-404 h1 {
    font-size: 45px;
    font-weight: 400; }
  .error-404 p {
    font-size: 30px; }

.footer {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  margin: 10px 0;
  display: block;
  padding: 20px; }

.footer.dark {
  background: #333;
  border-top: solid 1px #777;
  border-bottom: solid 1px #777;
  color: #fff;
  margin: 10px 0 0 0; }

.footer.dark a {
  color: #5fabd8; }

.footer.stickyFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.well {
  background: #f2f2f2;
  padding: 10px;
  width: 96%;
  display: block;
  border: 1px solid #cccccc; }

.well-middle {
  border-left: none;
  border-right: none; }

.notice {
  display: block;
  padding: 10px; }
  .notice .header {
    display: block;
    font-weight: 400;
    font-size: 1.7em;
    border-bottom: solid #b5b2b2 1px;
    padding-bottom: 3px; }
  .notice p {
    margin-top: 5px;
    font-size: 1.25em; }

.notice-primary {
  background: #3786E1;
  color: #e6e6e6;
  border-left: solid #1e6dc7 5px; }

.notice-green {
  background: #70AA6D;
  color: #fff;
  border-left: solid #579054 5px; }
  .notice-green .header {
    border-bottom-color: #fff; }

.notice-red {
  color: #fff;
  background: #AA3A32;
  border-left: solid #832d26 5px; }
  .notice-red .header {
    border-bottom-color: #fff; }

.notice-lightBlue {
  background: #4BD7E4;
  color: #fff;
  border-left: solid #1aa2af 5px; }
  .notice-lightBlue .header {
    border-bottom-color: #fff; }

.notice-orange {
  background: #DB6127;
  color: #fff;
  border-left: solid #b14d1e 5px; }
  .notice-orange .header {
    border-bottom-color: #fff; }

blockquote {
  border-left: solid #b5b5b5 3px; }

form {
  margin: 0;
  padding: 0;
  display: block; }

.form {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  background: #fff;
  margin: 10px 0; }

.formOutline {
  border: solid rgba(175, 175, 175, 0.76) 1px;
  border-radius: 5px;
  padding: 15px; }

.form label {
  display: block;
  max-width: 100%;
  margin-bottom: 2px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px; }

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background: #fff;
  border: 1px solid #999999;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
  outline: 0; }

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus {
  border: 1px solid #3786E1; }

.form input.success {
  border: 1px solid #70AA6D; }

.form input.error {
  border: 1px solid #AA3A32; }

.form input.warning {
  border: 1px solid #DB6127; }

.form input::-webkit-input-placeholder {
  color: #666666; }

.form input:-ms-input-placeholder {
  color: #666666; }

.form input::-ms-input-placeholder {
  color: #666666; }

.form input::placeholder {
  color: #666666; }

.form button[type="submit"] {
  margin-top: 10px; }

.checkbox {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px; }
  .checkbox label {
    font-size: 1em;
    cursor: pointer; }
  .checkbox input[type=checkbox] {
    margin-left: -20px;
    position: absolute; }
